---
# Master stylesheet
---
// MASTER.CSS
//
// ZACH LEBAR.COM --- V6 --- Hatched in Hibernation
//
//

// ///////// //
// VARIABLES //
// ///////// //

$serif-font: 'Gentium Basic', serif;
$sans-serif-font: Verdana, sans-serif;
$text-color: rgba(68, 68, 68, 1.0);


////////////////////////////////////////////////////////////////

// ////////// //
// TYPOGRAPHY //
// ////////// //

body {
	font-family: $sans-serif-font;
	font-size: 0.8em;
	color: $text-color;
	background: url("/public/groovepaper.png");
}

h1 {
	font-family: $serif-font;
	text-transform: uppercase;
	letter-spacing: 0.1em;

	strong {
		font-size: 1.3em;
		vertical-align: middle;
		border-right: 1px solid $text-color;
		padding: 0 0.5em 0 0;
		margin: 0.3em 0.3em 0 0;
	}

	small {
		font-style: italic;
		text-transform: none;

		display: block;
		margin: 2% 0;

		@media (min-width: 600px) {
			display: inline;
		}
	}

	a {
		text-decoration: none;
		color: $text-color;

		&:hover {
			text-decoration: underline;
		}
	}

	.contact a {
		text-decoration: underline;
		color: $text-color;
		text-transform: lowercase;
	}
}

a {
	color: $text-color;

	.writing & {
		font-style: italic;
	}
}

p {
	max-width: 80%;
	margin: 0 auto;

	font-size: 1em;
	letter-spacing: 0.05em;
	line-height: 1.4em;
	padding: 1em 0;

	footer & {
		font-size: 0.8em;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 0.1em;
		margin-top: 3em;
		margin-bottom: 3em;

		.home & {
			margin-bottom: 5em;
		}

		strong {
			font-weight: bold;
			color: rgba(68, 68, 68, 0.9)
		}
	}

	em {
		font-style: italic;
	}

	@media (min-width: 600px) {
		max-width: 60%;
	}

	@media (min-width: 1300px) {
		max-width: 40%;
	}
}

hr {
	border: 0;
	border-top: 1px solid $text-color;
	max-width: 90%;
	margin-top: 5%;
	margin-bottom: 7%;
	text-align: center;

	@media (min-width: 600px) {
		margin-top: 2%;
		margin-bottom: 3%;
	}

	@media (min-width: 1070px) {
		margin-top: 3%;
		margin-bottom: 3%;
	}

	@media (min-width: 1300px) {
		margin-top: 1%;
		margin-bottom: 1%;

		max-width: 65%;
	}
}

hr:before {
	content: "• • •";
	font-size: 0.7em;
	color: $text-color;
	letter-spacing: 0.5em;
	position: relative;
	top: -1em;
	background: url("/public/groovepaper.png");
	padding: 0 0.7em 0 1.3em;
}

h1.footer {
	text-align: center;
}

h2 {
	text-align: center;
	font-family: $serif-font;
	font-size: 2.2em;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	padding-top: 1%;
	margin-bottom: 1%;

	.speaking & {
		max-width: 63%;
		margin: 0 auto;
		border-bottom: 1px solid $text-color;
		padding-bottom: 0.5%;
		margin-bottom: 1%;

		text-align: left;
	}

	@media (min-width: 1070px) {
		margin-bottom: 0;
	}
}

h3 {

	max-width: 90%;
	margin: 0 auto;

	font-family: $serif-font;
	font-size: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	line-height: 1.8em;

	padding: 1% 0 0.5em 2em;
	margin-bottom: 1%;

	border-top: 1px solid $text-color;
	border-bottom: 3px double $text-color;

	background: url("../public/h3-bg.png") no-repeat bottom left;

	@media (min-width: 1070px) {
		margin-bottom: 0;
	}

	@media (min-width: 1300px) {
		max-width: 63%;
	}

	.home & {
		text-align: center;
		max-width: 100%;
		border: none;
		background-image: none;
	}

	.speaking & {
		background-image: none;
		border: none;
	}

	& em {
		text-transform: lowercase;
	}
}

h3.tagline {
	word-spacing: 2em;

	max-width: 100%;
	text-align: center;
	border: none;
	background: none;

	.home & {
		background: url("/public/tagline-bg.png") no-repeat center top;	
		min-height: 65px;
	}

	@media (min-width: 1070px) {
		padding-top: 1%;
	}
}

img {
	max-width: 80%;
	margin: 0 auto;
	display: block;
	margin-top: 1%;
	margin-bottom: 1%;

	@media (min-width: 1300px) {
		max-width: 60%;
	}
}


////////////////////////////////////////////////////////////////

// ////// //
// LAYOUT //
// ////// //

img.headshot {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	margin-bottom: 5%;
	opacity: 0.8;
	border: 4px double rgba(68, 68, 68, 0.8);
	background-color: rgba(68, 68, 68, 0.2);

	@media (min-width: 1070px) {
		height: 250px;
		width: 250px;

		margin-bottom: 2%;
	}
}

nav {
	width: 100%;

	padding: 20% 0;
	background: url("/public/homepage-bottom.png") no-repeat center top;
	overflow: auto;

	.home & {
		padding-bottom: 20%;
		padding-top: 0;
		background: url("/public/homepage-top.png") no-repeat center bottom;
	}

	@media (min-width: 600px) {
		padding: 6% 0;

		.home & {
			padding-bottom: 6%;
		}
	}

	@media (min-width: 1300px) {
		padding: 4% 0;

		.home & {
			padding-bottom: 4%;
		}
	}

	@media (min-width: 1500px) {
		padding: 3% 0;

		.home & {	
			padding-bottom: 3%;
		}
	}

	ul {
		margin: 0 auto;
		width: 135px;

		// background: url("/public/nav-color.jpg") no-repeat center -3px;
		min-height: 60px;
		overflow: auto;

		@media (min-width: 490px) {
			width: 279px;
		}

		@media (min-width: 600px) {
			width: 437px;
		}

		@media (min-width: 1070px) {
			width: 865px;
		}

		li {
			display: block;
			float: left;

			letter-spacing: 0.1em;
			overflow: hidden;

			width: 120px;
			height: 120px;
			border-radius: 50%;
			background-color: rgba(178, 178, 178, 0.2);
			border: 4px double rgba(68, 68, 68, 0.8);
			box-shadow: inset 0px 0px 5px rgba(68, 68, 68, 0.5);
			margin: 5%;

			@media (min-width: 490px) {
				margin: 2%;
			}

			@media (min-width: 1070px) {
				margin: 1%;
			}

			// border-bottom: 3px double $text-color;

			&.web {
				background-image: url("/public/nav-1.png");
			}

			&.logo {
				background-image: url("/public/nav-2.png");
			}

			&.writing {
				background-image: url("/public/nav-3.png");
			}

			&.art {
				background-image: url("/public/nav-4.png");
			}

			&.graphic {
				background-image: url("/public/nav-5.png");
			}

			&.speaking {
				margin-right: 0%;
				background-image: url("/public/nav-6.png");
			}

			a {
				color: $text-color;
				text-decoration: none;

				display: block;
				height: 100%;
				width: 100%;
				padding: 1.3em 0em;
				margin: 0 auto;

				text-align: center;
				font-family: $serif-font;
				font-style: italic;
				text-transform: lowercase;
				font-size: 2.4em;
				line-height: 0.9em;

				small {
					font-family: $sans-serif-font;
					font-size: 0.4em;
					font-style: normal;
					text-transform: uppercase;
					display: block;
				}


				&.graphic {
					// padding-top: 3.8em;
				}

				&.web:hover,
				.web &.web {
					background: rgba(242, 135, 107, 0.3);
				}

				&.logo:hover,
				.logo &.logo {
					background: rgba(141, 126, 181, 0.3);
				}

				&.writing,
				&.art,
				&.speaking {
					padding-top: 1.1em;
					line-height: 0.7em;	
				}

				&.art {
					padding-top: 1.2em;
				}

				&.writing:hover,
				.writing &.writing {
					background: rgba(156, 206, 99, 0.3);	
				}

				&.art:hover,
				.art &.art {
					background: rgba(138, 164, 198, 0.3);
				}

				&.graphic:hover,
				.graphic &.graphic {
					background: rgba(245, 171, 112, 0.3);
				}

				&.speaking:hover,
				.speaking &.speaking {
					background: rgba(248, 203, 39, 0.3);
				}

				&.photo:hover,
				.photo &.photo {
					background: rgba(237, 154, 229, 0.3);	
				}

			}
		}
	}
}

header {

	width: 100%;
	background: url("/public/homepage-top.png") no-repeat center -35px;
	padding-top: 65px;

	.home & {
		background: url("/public/homepage-bottom.png") no-repeat center bottom;
		padding-bottom: 119px;
		padding-top: 0;
	}
	
	h1 {
		border-top: 1px solid rgba(68, 68, 68, 0.8);
		border-bottom: 1px solid rgba(68, 68, 68, 0.8);
		padding: 3em 0;
		box-shadow: inset 0px 0px 8px $text-color;

		background: rgba(243, 243, 243, 1.0) url("/public/header-bg-3.png") no-repeat center center;

	}
}

body.speaking {

	div.wrap {
		max-width: 63%;
		margin: 0 auto;
		overflow: auto;
	}

	article {
		clear: both;
		margin-bottom: 5%;
		overflow: auto;
	}

	img {
		max-width: 40%;
		float: left;

		border: 1px solid #444444;
	}

	div.notes {
		float: right;
		max-width: 55%;


		p {
			max-width: 100%;
			text-align: left;
		}
	}

}

body.single {

	section {
		display: inline-block;
	}

	img {
		max-width: 100%;
	}

	section.half {
		width: 12%;
	}

	section.quarter {
		width: 6%;
	}

}









