---
# Special Style for the Homepage (aka, the single.html template)
---
// SINGLE.CSS
//
// ZACH LEBAR.COM --- V7 --- ELECTRIC CITY
//
//

// ///////// //
// VARIABLES //
// ///////// //

$serif-font: "freight-text-pro", serif;
$sans-serif-font: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
$text-color: rgba(68, 68, 68, 1.0);


////////////////////////////////////////////////////////////////

section.pure-u-1-5 {

	&.flex {
		display: flex;
	}

	@media (max-width: 1000px) {

		width: 100%;

		.home &.feature {
			width: 33%;
		}
	}

	@media (max-width: 700px) {

		.home &.feature {
			width: 80%;
			margin: 0 auto;
		}
	}
}

article {

	&.image {
		display: flex;
    	flex-direction: column;
		justify-content: center;
		order: 1;
		flex-grow: 1;
		max-width: 450px;
	}

	div.middle section.feature & {
		flex-direction: row;

		@media (max-width: 700px) {
			min-height: 150px;
		}
	}

	div.bottom section.feature & {
		h2 {
			margin: 0;
		}

		h3 {
			margin: 0;
		}

		strong h3 {
			margin: 0;
			text-transform: lowercase;
			font-size: 1em;
			padding: 0 0 0.25em 0;

			@media (max-width: 700px) {
				font-size: 1.5em;
				margin-top: -0.25em;
			}
		}
	}

	@media (max-width: 700px) {
		min-height: 250px;
		margin: 0 auto;
	}

	h2 {
		align-self: center;
		font-size: 2.5em;
		font-weight: 300;
		text-transform: uppercase;
		margin: 0.5em 0 0 0;
		text-align: center;

		@media (max-width: 700px) {
			// font-size: 3.5em;
		}

		em {
			font-style: italic;
			font-family: $serif-font;
		}
	}

	h3 {
		align-self: center;
		font-size: 1.75em;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
		display: block;
		width: 100%;

		@media (max-width: 700px) {
			// font-size: 2.75em;
		}

		em {
			font-family: $serif-font;
			font-style: italic;
			font-size: 1em;
			text-transform: lowercase;
			padding: 0 0 0 0.15em;
		}
	}

	h4 {
		font-size: 1em;
    	margin: 1em 0;
    	text-transform: uppercase;
    	font-weight: 300;
    	letter-spacing: 0.25em;

    	a:hover {
    		text-decoration: underline;
    	}
	}

	strong {
		font-family: $serif-font;
		font-style: italic;
    	text-transform: lowercase;
    	font-size: 2em;

    	@media (max-width: 700px) {
    		font-size: 2.25em;
    	}
	}

}

.wrapper {
	display: flex;

	width: 90%;
	padding: 5%;
	margin: 0 auto;
}

img {
	width: 90%;
	display: block;
	margin: 0 auto;
	padding: 5%;
}

.home {
	img {
		border-radius: 50%;
	}
}

.portfolio {
	img {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	h1 {
		margin: 0 0 0.5em 0;
		text-align: center;
		font-size: 3em;
		text-transform: uppercase;
		font-weight: 300;
	}

	h4 {
		font-size: 1em;
		margin: 1em 0;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 0.25em;
		text-align: center;
	}

	article {
		width: 40%;
		margin: 0 auto;
		margin-bottom: 2.5em;

		@media (max-width: 1000px) {
			width: 60%;
		}
	}

	.feature {
		@media (max-width: 1000px) {
			width: 33%;
			display: flex;
			align-items: center;
		}
	}

	header {
		margin: 1em 0;

		img {
			border-radius: 50%;
			width: 75%;
			margin: 0 auto;
		}

		article h2 {
			margin: 0;
		}
	}
}

.half {
	width: 45%;
	float: left;
	padding: 2.5%;

	@media (max-width: 1000px) {

		width: 20%;
		padding: 2.5%;

		section.feature & {
			width: 40%;
			padding: 5%;
		}
	}
}

.quarter {
	width: 20%;
	float: left;
	padding: 2.5%;

	@media (max-width: 1000px) {

		width: 10%;
		padding: 1.25%;
	}

	@media (max-width: 700px) {

	}
}

.right {
	float: right;
}

.wrap {
	padding: 0 20%;

		@media (max-width: 900px) {
			padding: 0 10%;
		}
}

div.aux article {
	background: rgba(204, 204, 204, 0.5);

	margin: 2.5%;
	padding: 2.5%;

	align-items: flex-start;
	text-align: left;

	max-width: 100%;

	h2 {
		margin: 0;
		align-self: flex-start;
   		text-align: left;
	}

	h3 {
		align-self: flex-start;
		text-align: left;
	}

	img {
		padding: 0%;
		/*width: 20%;*/
	}
}

.modal {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9);
	display: none;
	position: fixed;
	z-index: 1000;

	@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
		background: rgba(255, 255, 255, 0.6);
		-webkit-backdrop-filter: saturate(180%) blur(10px);
		backdrop-filter: saturate(180%) blur(10px);
	}

	a.close-btn {
		position: absolute;
		right: 2.5%;
		top: 3.5%;
		font-size: 2em;
		font-weight: 300;
	}

	.container {
		display: flex;
		padding: 0 5%;
		height: 100%;
		align-items: center;
	}

	h2 {
		text-align: left;
	}

	h3 {
		text-align: left;
	}

	img {
		padding: 0;
		margin: 5%;
		border: 1px solid rgba(68, 68, 68, 0.4);
		box-shadow: 0px 0px 15px 2px rgba(68, 68, 68, 0.4);
	}

	@media (max-width: 1000px) {
		.pure-u-2-5 {
			width: 100%;
			padding: 0 10%;
		}

		.pure-u-1-5 {
			width: 33%;
		}
	}

	@media (max-width: 700px) {

	}

}

////////////////////////////////////////////////////////////////

// ////////// //
// TYPOGRAPHY //
// ////////// //

////////////////////////////////////////////////////////////////

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: $sans-serif-font;
}

body {
	font-family: $sans-serif-font;
	color: #444;

	padding: 0;
}

a {
	color: #444;
	text-decoration: none;

	&:hover img {
		opacity: 0.7;
	}

	&.text-link {
		/*padding: 0.5em 1em;*/
	}

	&.text-link:hover {
		background: rgba(204, 204, 204, 0.5);
	}

	&.more-info:hover {
		background: none;
		padding: 0;

		img {
			opacity: 0.7;
		}
	}
}

p {
	line-height: 1.25em;
	margin: 2em 0 0 0;

	footer & {
		font-size: 0.7em;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 0.1em;
		margin-top: 3em;
		margin-bottom: 3em;

		strong {
			font-weight: bold;
			color: rgba(68, 68, 68, 0.9)
		}
	}
}

em {
	font-family: $serif-font;
	font-style: italic;
	font-size: 1em;
	text-transform: lowercase;
}

h3.tagline {
	font-weight: normal;
	text-align: center;
	word-spacing: 2em;
}

footer {
	text-align: center;
	font-weight: 0.8em;
	text-transform: uppercase;
}
