---
layout: home
title: Digital Craftsman
page: home
---

<div class="top pure-g">

	<section class="pure-u-1-5">

		<a href="#axelson-info" class="more-info">
			<img class="half" src="/img/axelson-1.jpg" />
		</a>

		<a href="#beer-info" class="more-info">
			<img class="half" src="/img/beer-3.jpg" />
		</a>

		<a href="#pho-info" class="more-info">
			<img class="half" src="/img/pho-3.jpg" />
		</a>

		<a href="#southern-belle-info" class="more-info">
			<img class="half" src="/img/southern-2.jpg" />
		</a>

	</section>

	<section class="feature flex pure-u-1-5">

		<div class="wrapper">
			<article class="image">
				<h2><strong>Hi.</strong></h2>
				<h2>I'm Zach.</h2>
				<h3>I make things.</h3>
			</article>
		</div>

	</section>

	<section class="feature pure-u-1-5">
		<a href="#design-info" class="more-info">
			<img src="/img/design.jpg" />
		</a>
	</section>

	<section class="feature flex pure-u-1-5">

		<div class="wrapper">
			<article class="image">
				<h3>Print</h3>
				<h3>Web</h3>
				<h3>Branding</h3>
				<h3>Illustration</h3>
			</article>
		</div>

	</section>

	<section class="pure-u-1-5">

		<a href="#juniper-info" class="more-info">
			<img class="half" src="/img/juniper-1.jpg" />
		</a>

		<a href="#poster-info" class="more-info">
			<img class="half" src="/img/poster-2.jpg" />
		</a>

		<a href="#athletes-info" class="more-info">
			<img class="half" src="/img/athletes.jpg" />
		</a>

		<a href="#southern-belle-info" class="more-info">
			<img class="half" src="/img/southern-4.jpg" />
		</a>

	</section>
</div>

<div class="middle pure-g">
	<section class="pure-u-1-5">
		<img class="quarter" src="/img/lt-purple.jpg" />
		<a href="#bruce-info" class="more-info">
			<img class="quarter" src="/img/bruce-2.jpg" />
		</a>
		<img class="quarter" src="/img/lt-blue.jpg" />
		<a href="http://twitter.com/zachlebar" target="_blank">
			<img class="quarter" src="/img/twitter.jpg" />
		</a>
		<a href="#bruce-info" class="more-info">
			<img class="quarter" src="/img/bruce-4.jpg" />
		</a>
		<img class="quarter" src="/img/lt-orange.jpg" />
		<a href="#bluemtn-info" class="more-info">
			<img class="quarter" src="/img/bluemtn-2.jpg" />
		</a>
		<img class="quarter" src="/img/lt-green.jpg" />

	</section>

	<section class="feature pure-u-1-5">
		<a href="#html-info" class="more-info">
			<img class="half" src="/img/html.jpg" />
		</a>
		<a href="#wp-info" class="more-info">
			<img class="half right" src="/img/wp.jpg" />
		</a>
	</section>

	<section class="feature flex pure-u-1-5">

		<div class="wrapper">
			<article class="image">
				<h3><a href="mailto:zach@zachlebar.com" class="text-link">Available <em>for</em> Hire</a></h3>
			</article>
		</div>

	</section>

	<section class="feature pure-u-1-5">
		<a href="#js-info" class="more-info">
			<img class="half" src="/img/js.jpg" />
		</a>
		<a href="#php-info" class="more-info">
			<img class="half right" src="/img/php.jpg" />
		</a>
	</section>

	<section class="pure-u-1-5">
		<img class="quarter" src="/img/lt-yellow.jpg" />
		<a href="#tbfs-info" class="more-info">
			<img class="quarter" src="/img/tbfs.jpg" />
		</a>
		<img class="quarter" src="/img/lt-green.jpg" />
		<a href="#bruce-info" class="more-info">
			<img class="quarter" src="/img/bruce-3.jpg" />
		</a>

		<a href="http://dribbble.com/zachlebar" target="_blank">
			<img class="quarter" src="/img/dribbble.jpg" />
		</a>
		<img class="quarter" src="/img/lt-orange.jpg" />
		<a href="#bruce-info" class="more-info">
			<img class="quarter" src="/img/bruce-1.jpg" />
		</a>
		<img class="quarter" src="/img/lt-blue.jpg" />
	</section>
</div>

<div class="bottom pure-g">

	<section class="pure-u-1-5">

		<a href="#southern-belle-info" class="more-info">
			<img class="half" src="/img/southern-1.jpg" />
		</a>
		<a href="#tunk-info" class="more-info">
			<img class="half" src="/img/tunk.jpg" />
		</a>
		<a href="#svenson-info" class="more-info">
			<img class="half" src="/img/svenson-3.jpg" />
		</a>
		<a href="#greenridge-info" class="more-info">
			<img class="half" src="/img/greenridge-2.jpg" />
		</a>

	</section>

	<section class="feature flex pure-u-1-5">

		<div class="wrapper">
			<article class="image">
				<h3>HTML5/CSS3</h3>
				<h3>SASS</h3>
				<h3>JavaScript</h3>
				<h3>PHP</h3>
			</article>
		</div>

	</section>

	<section class="feature pure-u-1-5">
		<a href="#develop-info" class="more-info">
			<img src="/img/develop.jpg" />
		</a>
	</section>

	<section class="feature flex pure-u-1-5">

		<div class="wrapper">
			<article class="image">
				<h2>Let's create</h2>
				<h3>something</h3>
				<strong><h3>awesome</h3></strong>
				<h2>together</h2>
			</article>
		</div>

	</section>

	<section class="pure-u-1-5">

		<a href="#greenridge-info" class="more-info">
			<img class="half" src="/img/greenridge-3.jpg" />
		</a>
		<a href="#christian-info" class="more-info">
			<img class="half" src="/img/christian-1.jpg" />
		</a>
		<a href="#adoption-info" class="more-info">
			<img class="half" src="/img/adoption-1.jpg" />
		</a>
		<a href="#ducklings-info" class="more-info">
			<img class="half" src="/img/ducklings-3.jpg" />
		</a>

	</section>
</div>

{% for skill in site.skills %}
	<article id="{{ skill.id }}" class="pure-g skill">
		<div class="pure-u-2-5">
			<h2>{{ skill.title }}</h2>

      {% if skill.subskills %}
        {% for subskill in skill.subskills %}
  			   <h4>{{ subskill }}</h4>
        {% endfor %}
      {% endif %}

			<p>{{ skill.content }}</p>
		</div>

    {% if skill.images %}
  		{% for image in skill.images %}
  			<div class="pure-u-1-5">
  				<img src="{{ image }}" />
  			</div>
  		{% endfor %}
    {% endif %}
	</article>
{% endfor %}

{% for project in site.projects %}
	<article id="{{ project.id }}" class="pure-g project">
		<div class="pure-u-2-5">
			<h2>{{ project.title }}</h2>

			{% if project.agency %}
			<h3><em>for</em> {{ project.agency }}</h3>
			{% endif %}

			<h4>{{ project.type }}</h4>

			<p>{{ project.content }}</p>

			{% if project.demourl %}
			<h4><a href="{{ project.demourl }}">{{project.title}} &rarr;</a></h4>
			{% endif %}

		</div>
		{% for image in project.images %}
			<div class="pure-u-1-5">
				<img src="{{ image }}" />
			</div>
		{% endfor %}
	</article>
{% endfor %}
