<header class="top pure-g">

	<section class="pure-u-1-5"></section>

  <section class="feature pure-u-1-5">
		<a href="/" class="more-info">
			<img src="/img/design.jpg" />
		</a>
	</section>

	<section class="feature flex pure-u-1-5">
    <div class="wrapper">
			<article class="image">
				<h2><strong>Hi.</strong></h2>
				<h2>I'm Zach.</h2>
				<h3>I make things.</h3>
			</article>
		</div>
	</section>

	<section class="feature pure-u-1-5">
		<a href="/" class="more-info">
			<img src="/img/develop.jpg" />
		</a>
	</section>

	<section class="pure-u-1-5"></section>

</header>
