---
layout: single
title: Benton Foundry
page: portfolio
type: web design
images:
  - /img/benton-1.jpg
  - /img/benton-2.jpg
  - /img/benton-3.jpg
---
<p>Benton Foundry is an iron foundry with a strong and proud history in Northeastern Pennsylvania. With their website, they want to tell that story. This design strives to strike a balance between approachability and technical detail, so the site can be easily used by both novice and expert alike.</p>
<p>There are a significant number of pages, many filled with industry-specific information about their iron making processes. This site works so well thanks to a well-designed navigational structure and the use of strong type and bold images to denote a clear visual heirarchy sitewide.</p>
