<!DOCTYPE html>
<html>
    <head>
        <script src="https://use.typekit.net/bwx0mpt.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Zach LeBar &mdash; {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

        <link rel="stylesheet" href="/css/reset.css">
        <!-- <link rel="stylesheet" href="/css/master.css">         -->
        <link rel="stylesheet" href="/css/single.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="/js/more-info.js" type="text/javascript"></script>

    </head>
    <body class="{{ page.page }}">


        {{ content }}


        <footer>
            <p><strong>&copy; 2017</strong> &mdash; All Rights Reserved &mdash; <strong>ZachLeBar.com</strong> // V7: <strong>Electric City</strong></p>
        </footer>



        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-6979419-1', 'zachlebar.com');
            ga('send', 'pageview');
        </script>

    </body>
</html>
